<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-primary is-rounded">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
      </a>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Sign Out
      </a>
    </div>
  </div>
</nav>

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <section class="container">
      <!-- <h2 class="subtitle has-text-centered is-size-3">Homepage</h2> -->
      <section class="columns">
        <div class="column is-half">
          <div class="card">
            <div class="card-header has-background-primary">
              <p class="card-header-title is-centered">
                Inventory
              </p>
            </div>
            <div
              class="card-image has-text-centered is-96x96 has-background-primary-light"
            >
              <figure class="image is-96x96 is-inline-block">
                <img alt="" src="./delivery.png" />
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <div class="card-header has-background-primary">
              <p class="card-header-title is-centered">
                Receive Item
              </p>
            </div>
            <div
              class="card-image has-text-centered is-96x96 has-background-primary-light"
            >
              <figure class="image is-96x96 is-inline-block">
                <img alt="" src="./add.png" />
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <div class="card-header has-background-primary">
              <p class="card-header-title is-centered">
                Sell item
              </p>
            </div>
            <div
              class="card-image has-text-centered is-96x96 has-background-primary-light"
            >
              <figure class="image is-96x96 is-inline-block">
                <img alt="" src="./delivery.png" />
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <div class="card-header has-background-primary">
              <p class="card-header-title is-centered">
                Update item
              </p>
            </div>
            <div
              class="card-image has-text-centered is-96x96 has-background-primary-light"
            >
              <figure class="image is-96x96 is-inline-block">
                <img alt="" src="./delivery.png" />
              </figure>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>