<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-primary is-rounded">
        <span class="icon is-primary">
        </span>
      </a>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end pr-3">
      <a class="navbar-item">
        Sign Out
      </a>
    </div>
  </div>
</nav>

<section class="container pt-6">

  <section class="columns is-multiline is-mobile is-centered">

    <div class="column is-10-mobile is-7-tablet is-5-desktop">
      <div class="card">
        <div class="card-header has-background-primary">
          <p class="card-header-title is-centered">
            <a href="/inventory" id="inventory-page">
              Inventory
            </a>
          </p>
        </div>
        <div
          class="card-image has-text-centered is-96x96 has-background-primary-light"
        >
          <figure class="image is-96x96 is-inline-block">
            <img alt="" src="./img/clipboard-text-outline (1).png" />
          </figure>
        </div>
      </div>
    </div>

    <div class="column is-10-mobile is-7-tablet is-5-desktop">
      <div class="card">
        <div class="card-header has-background-primary">
          <p class="card-header-title is-centered">
            <a href="/receive" id="receive-page">
              Receive Item
            </a>
          </p>
        </div>
        <div
          class="card-image has-text-centered is-96x96 has-background-primary-light"
        >
          <figure class="image is-96x96 is-inline-block">
            <img alt="" src="../img/plus-box (1).png" />
          </figure>
        </div>
      </div>
    </div>

    <div class="column is-10-mobile is-7-tablet is-5-desktop">
      <div class="card">
        <div class="card-header has-background-primary">
          <p class="card-header-title is-centered">
            <a href="/sell" id="sell-page">
              Sell item
            </a>
          </p>
        </div>
        <div
          class="card-image has-text-centered is-96x96 has-background-primary-light"
        >
          <figure class="image is-96x96 is-inline-block">
            <img alt="" src="../img/currency-usd (1).png" />
          </figure>
        </div>
      </div>
    </div>

    <div class="column is-10-mobile is-7-tablet is-5-desktop">
      <div class="card">
        <div class="card-header has-background-primary">
          <p class="card-header-title is-centered">
            <a href="/update" id="update-page">
              Update item
            </a>
          </p>
        </div>
        <div
          class="card-image has-text-centered is-96x96 has-background-primary-light"
        >
          <figure class="image is-96x96 is-inline-block">
            <img alt="" src="../img/pencil-outline (1).png" />
          </figure>
        </div>
      </div>
    </div>
  </section>
</section>