
  <form>
    <div class="hero is-fullheight has-background-primary pt-6">
      <div class="container mt-6 mx-5">
        <h1 class="title is-3 has-text-centered pt-4 has-text-weight-bold">Stock Manegment</h1>
        <h2 class="title is-4 has-text-centered pt-5 has-text-weight-bold">Login</h2>
        <div class="field pt-1">
          <label class="label is-medium" id="email-login">Email</label>
          <div class="control has-icons-left">
            <input class="input is-medium" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label is-medium" id="password-login">Password</label>
          <div class="control has-icons-left">
            <input class="input is-medium" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <div class="field  is-grouped is-grouped-centered pt-5">
          <div class="control">
            <button class="button is-rounded has-text-weight-bold">Login</button>
          </div>
        </div>

        <p class="has-text-centered mt-5">Register your account <a>here</a></p>
      </div>
  </form>
  <script src='./login.js'></script>
