<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-primary is-rounded" id="arrow">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
      </a>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end pr-3">
      <a class="navbar-item" id='logout'>Log Out</a>
    </div>
  </div>
</nav>

<div class="columns is-centered p-4 is-mobile">
  <div class="column is-11-mobile is-9-tablet is-6-desktop">

    <h2 class="title is-3 has-text-centered has-text-weight-bold p-5">Receive
      Item</h2>

    <form>

      <div class="field">
        <label class="label is-medium">Vehicle's make</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Toyota" id="make" />
        </div>
      </div>

      <div class="field">
        <label class="label is-medium">Vehicle's model</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="e.g. Corolla"
            id="model"
          />
        </div>
      </div>

      <div class="field">
        <label class="label is-medium">Kilometres</label>
        <input class="input" type="text" placeholder="e.g. 95000" id="km" />
      </div>

      <div class="field">
        <label class="label is-medium">Color</label>
        <input class="input" type="text" placeholder="e.g. White" id="color" />
      </div>

      <div class="field">
        <label class="label is-medium">Year</label>
        <input class="input" type="text" placeholder="e.g. 2019" id="year" />
      </div>

      <div class="field">
        <label class="label is-medium">Registration</label>
        <input class="input" type="text" placeholder="e.g. ODP 159" id="rego" />
      </div>

      <div class="field">
        <label class="label is-medium">Cost price</label>
        <input
          class="input"
          type="text"
          placeholder="e.g. 9500"
          id="costprice"
        />
      </div>

      <div class="field">
        <label class="label is-medium">Selling price</label>
        <input
          class="input"
          type="text"
          placeholder="e.g. 15000"
          id="sellprice"
        />
      </div>
      
      <div class="field">
        <label class="label is-medium">Select Location</label>
        <div class='select'>
          <select id='location'>
            <option>Showroom</option>
            <option>Warehouse</option>
          </select>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered pt-4">
        <div class="control">
          <button
            class="button is-rounded has-text-weight-bold is-primary"
            id="receive"
          >Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="./js/receive.js"></script>