<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-primary is-rounded">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
      </a>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Sign Out
      </a>
    </div>
  </div>
</nav>

<div class="columns is-centered p-4">
  <div class="column is-10">
    <h2 class="title is-3 has-text-centered has-text-weight-bold">Receive Item</h2>
    <form>

      <div class="field">
        <label class="label is-medium">Vehicle's make</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g Toyota" />
        </div>
      </div>

      <div class="field">
        <label class="label is-medium">Vehicle's model</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. Corolla" />
        </div>
      </div>

      <div class="field">
        <label class="label is-medium">Kilometres</label>
        <input class="input" type="text" placeholder="e.g. 95000" />
      </div>

      <div class="field">
        <label class="label is-medium">Color</label>
        <input class="input" type="text" placeholder="e.g. White" />
      </div>

      <div class="field">
        <label class="label is-medium">Year</label>
        <input class="input" type="text" placeholder="e.g. 2019" />
      </div>

      <div class="field">
        <label class="label is-medium">Registration</label>
        <input class="input" type="text" placeholder="e.g. ODP 159" />
      </div>

      <div class="field">
        <label class="label is-medium">Location</label>
        <input class="input" type="text" placeholder="e.g. Showroom" />
      </div>

      <div class="field">
        <label class="label is-medium">Cost price</label>
        <input class="input" type="text" placeholder="e.g. 9500" />
      </div>

      <div class="field">
        <label class="label is-medium">Selling price</label>
        <input class="input" type="text" placeholder="e.g. 15000" />
      </div>

      <div class="field is-grouped is-grouped-centered pt-4">
        <div class="control">
          <button
            class="button is-rounded has-text-weight-bold is-primary"
          >Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="./main.js"></script>