<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="button is-primary is-rounded" id="arrow">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
      </a>
    </div>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end pr-3">
      <a class="navbar-item" id="logout">
        Log Out
      </a>
    </div>
  </div>
</nav>

<div class="columns is-centered p-4 is-mobile">
  <div class="column is-11-mobile is-9-tablet is-6-desktop">

    <h2 class="title is-3 has-text-centered has-text-weight-bold pt-5">Sell
      Vehicle
    </h2>
    <form>

      <div class="field has-addons pt-3 is-grouped is-grouped-centered">

        <div>
          <input
            class="input pr-6 pl-6"
            type="text"
            placeholder="Find a car by registration"
            id="search_id"
          />
        </div>
        <div>
          <a class="button is-primary" id="searchbtn">Search
          </a>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered pt-2">
        <span class="has-text-danger is-size-5" id="error-message"></span>
      </div>

      <div id="vehicleInfo">
        {{! <div class="field">
        <p
          class="is-size-4 has-text-weight-bold pt-4 pb-5 is-underlined"
          id="vehicleInfo"
        >Vehicle information</p>
        <p class="is-size-5 has-text-weight-bold">Vehicle</p>
        <p class="is-size-5 pb-4" id="vehicle-make">${vehicle.make} ${vehicle.model}
        </p>

      </div>

      <div class="field">
        <p class="is-size-5 has-text-weight-bold">Cost price</p>
        <p class="is-size-5 pb-4" id="costprice">${vehicle.cost_price}</p>
      </div>

      <div class="field">
        <p class="is-size-5 has-text-weight-bold">Location</p>
        <p class="is-size-5 pb-4" id="costprice">${vehicle.location}</p>
      </div>

      <div class="field">
        <label class="label is-medium">Selling price</label>
        <div class="control">

          <input
            class="input"
            type="text"
            placeholder="e.g. 12500 "
            id="sellingprice"
          />
        </div>
      </div> }}

      </div>

      <div class="field is-grouped is-grouped-centered pt-4">
        <div class="control">
          <button
            class="button is-rounded has-text-weight-bold is-primary"
            id="sellform"
          >Sell</button>
        </div>
      </div>

    </form>

  </div>

</div>
<script src="./js/sell.js"></script>